---
import type { PortableTextBlock } from '@portabletext/types'
import { PortableText } from 'astro-portabletext'
import Text from '../Text/Text'

interface Props {
  problem: PortableTextBlock[]
}

const { problem } = Astro.props

const proseClass = 'prose prose-lg dark:prose-invert max-w-none py-4'
---

<div class=''>
  <Text variant='h4' className='pb-0'>Overview</Text>
  <div class={proseClass}>
    <PortableText value={problem} />
  </div>
</div>
