---
interface Props {
	pageTitle: string;
	pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<div id='intro' class='flex flex-col mt-48 mb-24'>
	<h1 class='text-3xl mb-4 font-bold'>{pageTitle}</h1>
	<p class='text-lg'>{pageDescription}</p>
</div>
