---
import Layout from '../../layouts/Layout.astro'
import { getAllPosts } from '../../lib/sanity'
import type { Post } from '../../lib/sanity'
import SimpleHero from '../../components/Hero/SimpleHero.astro'
import PostCard from '../../components/Cards/PostCard.astro'
import PageTransition from '../../components/Transitions/PageTransition.astro'

const posts = await getAllPosts()

const heroContent = {
  introText: {
    first: 'Thoughts',
    second:
      'Sharing experiences, learnings, and perspectives on creating meaningful digital experiences.',
  },
}
---

<Layout pageTitle='Thoughts' pageDescription={heroContent.introText.first}>
  <PageTransition>
    <div class='flex flex-col'>
      <SimpleHero {...heroContent} />
      <!-- Remaining Posts Grid -->
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
        {posts.map((post) => <PostCard post={post} />)}
      </div>
    </div>
  </PageTransition>
</Layout>
