---
import Text from '../Text/Text'

interface Props {
  introText: {
    first: string
    second: string
  }
}

const { introText } = Astro.props
---

<section
  id='intro'
  class='grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 justify-center mt-48'
  aria-label='Introduction'>
  <div id='introOne' class='col-span-full gap-4'>
    <Text variant='h1' className='leading-normal'>
      {introText.first}
    </Text>
  </div>
  <div id='introTwo' class='col-span-full mt-4'>
    <Text variant='body' color='muted'>
      {introText.second}
    </Text>
  </div>
</section>

<script>
  import gsap from 'gsap'
  import { SplitText } from 'gsap/SplitText'

  // Register GSAP plugins
  gsap.registerPlugin(SplitText)

  function introAnimation() {
    let tl = gsap.timeline()
    const hasPlayed = sessionStorage.getItem('hasSimpleHeroAnimationPlayed')

    if (!hasPlayed) {
      // Get elements
      const introOne = document.getElementById('introOne')
      const introTwo = document.getElementById('introTwo')

      // Split text into lines
      const introOneSplit = new SplitText(introOne, { type: 'lines' })
      const introTwoSplit = new SplitText(introTwo, { type: 'lines' })

      // Initial state for all elements
      gsap.set([...introOneSplit.lines, ...introTwoSplit.lines], {
        clipPath: 'inset(100% 0 0 0)',
        opacity: 0,
      })

      // Animation sequence
      tl
        // 1. Animate first paragraph lines
        .to(introOneSplit.lines, {
          clipPath: 'inset(0% 0 0 0)',
          opacity: 1,
          duration: 1,
          stagger: 0.1,
          ease: 'power2.inOut',
        })
        // 2. Animate second paragraph lines
        .to(
          introTwoSplit.lines,
          {
            clipPath: 'inset(0% 0 0 0)',
            opacity: 1,
            duration: 1,
            stagger: 0.1,
            ease: 'power2.inOut',
          },
          -0.5
        )

      sessionStorage.setItem('hasSimpleHeroAnimationPlayed', 'true')
    }
  }

  introAnimation()
</script>
