---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

interface Props {
	path: string;
	target: string;
	href: string;
}

const {href, target } = Astro.props;

---

<a class={'text-lg no-underline hover:underline hover:underline-offset-4'} href={href} target={target}><slot/></a>


