@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */


/* View Transitions */

::view-transition-old(commbank-image),
::view-transition-new(commbank-image) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(commbank-image-content),
::view-transition-new(commbank-image-content) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(commbank-content),
::view-transition-new(commbank-content) {
    animation: fade 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}