---
// Components
import NavLink from '../Buttons/NavLink.astro'
import Image from 'astro/components/Image.astro'

// Images
import logoLM from '../../../public/images/svg/logo-LM.svg'
import logoDM from '../../../public/images/svg/logo-DM.svg'

// Javascript
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
const colourModePath = currentPath === 'experiments' ? logoDM : logoLM
---

<nav
  id='nav'
  transition:persist
  class='w-full fixed z-50 top-0 left-0 px-4 md:px-8 py-4 md:py-8 dark:bg-zinc-950 bg-white text-base'
>
  <div class='flex gap-4 justify-between'>
    <div class='w-full md:w-auto flex flex-col md:flex-row gap-4 justify-between'>
      <!-- Home link -->
      <NavLink path='' target='' href='/'
        ><p class='font-semibold'>
          <!-- <span class='flex align-middle gap-2'
						><Image src={colourModePath} alt='Logo' />Dan Shires</span
					> -->
          Daniel Shires
        </p></NavLink
      >
      <!-- Page links -->
      <div id='navPageLinks' class='flex flex-row md:flex-row gap-4'>
        <NavLink path='design' target='_self' href='/design'>Design</NavLink>
        <NavLink path='pictures' target='_self' href='/pictures'>Pitctures</NavLink>
        <NavLink path='posts' target='_self' href='/posts'>Thoughts</NavLink>
        <NavLink path='experiments' target='_self' href='/experiments'>Experiments</NavLink>
      </div>
    </div>
  </div>
</nav>

<script>
  const navbar = document.getElementById('nav')

  document.addEventListener('DOMContentLoaded', () => {
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 80) {
        navbar.classList.add('transition-all')
        navbar.classList.add('-translate-y-40')
        console.log('scrolled')
      } else {
        navbar.classList.remove('transition-all')
        navbar.classList.remove('-translate-y-40')

        console.log('not scrolled')
      }
    })
  })
</script>
