---
import Layout from '../layouts/Layout.astro'
import Text from '../components/Text/Text.astro'
---

<Layout pageTitle='Page Not Found' pageDescription='The page you are looking for does not exist.'>
  <div class='min-h-screen flex items-center justify-center'>
    <div class='text-center'>
      <Text variant='h1' size='5xl' class='mb-4'>404</Text>
      <Text variant='subtitle' class='mb-8'>Page not found</Text>
      <Text variant='body' color='muted'>
        <a href='/' class='hover:underline'>Go back home</a>
      </Text>
    </div>
  </div>
</Layout>
