---
import Layout from "../layouts/Layout.astro"
import { Image } from 'astro:assets';

import { GET } from './api/hello.ts'

let response = await GET(Astro)
const data = await response.json()
---

<Layout pageTitle='About'>
    <p>{data.greeting}</p>
</Layout>
