---
import Layout from '../layouts/Layout.astro'
import ProjectGrid from '../components/ProjectGrid/ProjectGrid.astro'
import SimpleHero from '../components/Hero/SimpleHero.astro'
import { getAllProjects } from '../lib/sanity'
import PageTransition from '../components/Transitions/PageTransition.astro'

const projects = await getAllProjects()

const heroContent = {
  introText: {
    first: 'Projects',
    second: 'Creating meaningful digital experiences through thoughtful design.',
  },
}
---

<Layout pageTitle='Design' pageDescription={heroContent.introText.first}>
  <PageTransition>
    <div class='flex flex-col'>
      <SimpleHero {...heroContent} />
      <ProjectGrid projects={projects} />
    </div>
  </PageTransition>
</Layout>
