---
import Layout from '../layouts/Layout.astro'
import ProjectGrid from '../components/ProjectGrid/ProjectGrid.astro'
import Hero from '../components/Hero/Hero.astro'
import { projectsData } from '../data/projects'
import PageTransition from '../components/Transitions/PageTransition.astro'

const { projects } = projectsData

const heroContent = {
  name: 'Design Work',
  jobTitle: 'Product Designer',
  heading: {
    firstLine: 'A collection of',
    secondLine: 'design projects.',
  },
  introText: {
    first:
      '',
    second:
      '',
  },
}
---

<Layout pageTitle={heroContent.name} pageDescription={heroContent.introText.first}>
  <PageTransition>
    <div class='flex flex-col'>
      <Hero {...heroContent} />
      <ProjectGrid projects={projects} />
    </div>
  </PageTransition>
</Layout>
