---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero/Hero.astro'
import FeaturedProject from '../components/FeaturedProject/FeaturedProject.astro'
import ProjectGrid from '../components/ProjectGrid/ProjectGrid.astro'
import { projectsData } from '../data/projects'

const heroContent = {
  // name: 'Design with purpose',
  jobTitle: 'Design with purpose',
  heading: {
    firstLine: 'Human centred.',
    secondLine: 'Digital experiences.',
  },
  introText: {
    first:
      "Hi, I'm Dan — a Product Designer with 5+ years' experience designing cohesive, user-centered digital products.",
    second:
      'My work blends UX strategy, interaction design, and branding to deliver products that are thoughtful, usable, and cohesive at every touchpoint.',
  },
}

const { projects } = projectsData
---

<Layout
  pageTitle='Daniel Shires | Product Designer based in Sydney currently working for Commonwealth Bank'
  pageDescription='UX/UI Designer and Front-End Developer based in Sydney Australia. I use the principles of human centred design to create simple, impactful experiences in pixels and code.'>
  <main class='grid gap-8 overflow-hidden h-max'>
    <Hero {...heroContent} />
    <div class='mt-auto'>
      <ProjectGrid projects={projects} />
    </div>
  </main>
</Layout>

<script>
  import ScrollReveal from 'scrollreveal'

  const scrollDistance = 20

  function revealSection() {
    const featuredWork = document.getElementById('featuredWork')
    const sectionThree = document.getElementById('sectionThree')

    const animationOptions = {
      duration: 1200,
      delay: 200,
      distance: '0px',
      opacity: 0,
      easing: 'ease-in-out',
      origin: 'bottom',
    }

    ScrollReveal().reveal(featuredWork, animationOptions)
    ScrollReveal().reveal(sectionThree, animationOptions)
  }

  // Use requestAnimationFrame for better performance
  window.addEventListener('load', () => {
    requestAnimationFrame(() => {
      revealSection()
    })
  })
</script>
