---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import fern from '../content/albums/photo-1.jpeg'
import fern2 from '../content/albums/national-park/photo-2.jpeg'
---

<Layout pageTitle='index'>
	<div class='grid gap-4 grid-cols-1 md:grid-cols-4 lg:grid-cols-6'>
		<!-- <div class='w-full aspect-[4/5] md:col-auto'>Trees</div> -->
		<Image src={fern} alt="Fern"></Image>
		<Image src={fern2} alt="Fern"></Image>
	</div>
</Layout>
