 <!-- One Column -->
 <section id='oneCol' class='grid grid-cols-12 col-span-12 content-center mb-12'>
  <a href='/design/commbankyello' class='col-span-12'
    ><Image
      transition:persist
      id='projectImage'
      src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
      alt='image'
      width='2600'
      height='900'
      decoding='async'
      loading='lazy'
      class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
    /></a
  >
  <div
    id='projectContent'
    class='grid grid-cols-12 col-span-12 grid-rows-2 md:grid-rows-1 md:grid-rows-auto gap-12 mt-8'
  >
    <div id='text' class='grid-cols-12 col-span-12 lg:col-span-5 flex flex-col gap-4'>
      <h3 class='text-sm'>CommBank Yello</h3>
      <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
      <p>
        CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
        Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
        Yello
      </p>
    </div>
    <div
      id='outcomes'
      class='grid-cols-12 col-span-12 lg:col-span-6 lg:col-end-13 flex flex-row gap-12 justify-start lg:justify-end'
    >
      <div>
        <p class='text-4xl'>6.5m</p>
        <p>engaged customers</p>
      </div>
      <div>
        <p class='text-4xl'>+32</p>
        <p>Net promoter score</p>
      </div>
      <div>
        <p class='text-4xl'>2m</p>
        <p>visits per week</p>
      </div>
    </div>
  </div>
</section>
  <!-- Two Column -->
  <section id="sectionTwo" class='grid grid-cols-12 grid-row-2 md:grid-row-1 col-span-12 gap-12'>
    <div id='featuredMedium' class='col-span-12 lg:col-span-6'>
      <a href='/design/commbankyello' class=''
        ><Image
          transition:persist
          transition:name='hero'
          transition:animate={fade({ duration: '5s' })}
          id='projectImage'
          src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
          alt='image'
          width='2600'
          height='900'
          decoding='async'
          loading='lazy'
          class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
        /></a
      >
      <div id='projectContent' class='grid grid-rows-2 gap-12 mt-8'>
        <div id='text' class='grid grid-cols-1 gap-4'>
          <h3 class='text-sm'>CommBank Yello</h3>
          <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
          <p>
            CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
            Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
            Yello
          </p>
        </div>
        <div id='outcomes' class='flex flex-row gap-8 justify-start'>
          <div>
            <p class='text-4xl'>6.5m</p>
            <p>engaged customers</p>
          </div>
          <div>
            <p class='text-4xl'>+32</p>
            <p>Net promoter score</p>
          </div>
          <div>
            <p class='text-4xl'>2m</p>
            <p>visits per week</p>
          </div>
        </div>
      </div>
    </div>
    <div id='featuredMedium' class='col-span-12 lg:col-span-6'>
      <a href='/design/commbankyello' class=''
        ><Image
          transition:persist
          id='projectImage'
          src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
          alt='image'
          width='2600'
          height='900'
          decoding='async'
          loading='lazy'
          class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
        /></a
      >
      <div id='projectContent' class='grid grid-rows-2 gap-12 mt-8'>
        <div id='text' class='flex flex-col gap-4'>
          <h3 class='text-sm'>CommBank Yello</h3>
          <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
          <p>
            CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
            Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
            Yello
          </p>
        </div>
        <div id='outcomes' class='flex flex-row gap-8 justify-start'>
          <div>
            <p class='text-4xl'>6.5m</p>
            <p>engaged customers</p>
          </div>
          <div>
            <p class='text-4xl'>+32</p>
            <p>Net promoter score</p>
          </div>
          <div>
            <p class='text-4xl'>2m</p>
            <p>visits per week</p>
          </div>
        </div>
      </div>
    </div>
    <div id='featuredMedium' class='col-span-12 md:col-span-6'>
      <a href='/design/commbankyello' class='col-span-12 md:col-span-6'
        ><Image
          transition:persist
          id='projectImage'
          src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
          alt='image'
          width='2600'
          height='900'
          decoding='async'
          loading='lazy'
          class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
        /></a
      >
      <div id='projectContent' class='grid grid-cols-12 col-span-6 grid-rows-2 gap-12 mt-8'>
        <div id='text' class='grid-cols-12 col-span- flex flex-col gap-4'>
          <h3 class='text-sm'>CommBank Yello</h3>
          <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
          <p>
            CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
            Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
            Yello
          </p>
        </div>
        <div
          id='outcomes'
          class='grid-cols-12 col-span-12 lg:col-span-6 flex flex-row gap-12 justify-start'
        >
          <div>
            <p class='text-4xl'>6.5m</p>
            <p>engaged customers</p>
          </div>
          <div>
            <p class='text-4xl'>+32</p>
            <p>Net promoter score</p>
          </div>
          <div>
            <p class='text-4xl'>2m</p>
            <p>visits per week</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Three - Two Cols -->
  <section
  id='sectionThree'
  class='grid grid-cols-1 col-span-1 md:grid-cols-6 md:col-span-6 lg:grid-cols-12 lg:col-span-12 '
>
  <div id='featuredMedium' class='col-span-12 lg:col-span-6'>
    <a href='/design/commbankyello' class=''
      ><Image
        transition:persist
        transition:name='hero'
        transition:animate={fade({ duration: '5s' })}
        id='projectImage'
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        alt='image'
        width='2600'
        height='900'
        decoding='async'
        loading='lazy'
        class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
      /></a
    >
    <div id='projectContent' class='grid grid-rows-2 gap-12 mt-8'>
      <div id='text' class='grid grid-cols-1 gap-4'>
        <h3 class='text-sm'>CommBank Yello</h3>
        <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
        <p>
          CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
          Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
          Yello
        </p>
      </div>
      <div id='outcomes' class='flex flex-row gap-8 justify-start'>
        <div>
          <p class='text-4xl'>6.5m</p>
          <p>engaged customers</p>
        </div>
        <div>
          <p class='text-4xl'>+32</p>
          <p>Net promoter score</p>
        </div>
        <div>
          <p class='text-4xl'>2m</p>
          <p>visits per week</p>
        </div>
      </div>
    </div>
  </div>
  <div id='featuredMedium' class='col-span-12 lg:col-span-6'>
    <a href='/design/commbankyello' class=''
      ><Image
        transition:persist
        id='projectImage'
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        alt='image'
        width='2600'
        height='900'
        decoding='async'
        loading='lazy'
        class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
      /></a
    >
    <div id='projectContent' class='grid grid-rows-2 gap-12 mt-8'>
      <div id='text' class='flex flex-col gap-4'>
        <h3 class='text-sm'>CommBank Yello</h3>
        <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
        <p>
          CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
          Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
          Yello
        </p>
      </div>
      <div id='outcomes' class='flex flex-row gap-8 justify-start'>
        <div>
          <p class='text-4xl'>6.5m</p>
          <p>engaged customers</p>
        </div>
        <div>
          <p class='text-4xl'>+32</p>
          <p>Net promoter score</p>
        </div>
        <div>
          <p class='text-4xl'>2m</p>
          <p>visits per week</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Three Columns -->
<!-- <section class='grid grid-cols-12 grid-row-1 col-span-12 gap-12'>
  <div id='featuredSmall' class='col-span-12 md:col-span-4'>
    <a href='/design/commbankyello' class='col-span-6'
      ><Image
        transition:persist
        id='projectImage'
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        alt='image'
        width='2600'
        height='900'
        decoding='async'
        loading='lazy'
        class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
      /></a
    >
    <div id='projectContent' class='grid grid-cols-12 col-span-6 grid-rows-2 gap-12 mt-8'>
      <div id='text' class='grid-cols-12 col-span-12 flex flex-col gap-4'>
        <h3 class='text-sm'>CommBank Yello</h3>
        <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
        <p>
          CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
          Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
          Yello
        </p>
      </div>
      <div id='outcomes' class='grid-cols-12 col-span-12 flex flex-row gap-12 justify-start'>
        <div>
          <p class='text-4xl'>6.5m</p>
          <p>engaged customers</p>
        </div>
        <div>
          <p class='text-4xl'>+32</p>
          <p>Net promoter score</p>
        </div>
        <div>
          <p class='text-4xl'>2m</p>
          <p>visits per week</p>
        </div>
      </div>
    </div>
  </div>
  <div id='featuredSmall' class='col-span-12 md:col-span-4'>
    <a href='/design/commbankyello' class='col-span-6'
      ><Image
        transition:persist
        id='projectImage'
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        alt='image'
        width='2600'
        height='900'
        decoding='async'
        loading='lazy'
        class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
      /></a
    >
    <div id='projectContent' class='grid grid-cols-12 col-span-6 grid-rows-2 gap-12 mt-8'>
      <div id='text' class='grid-cols-12 col-span-12 flex flex-col gap-4'>
        <h3 class='text-sm'>CommBank Yello</h3>
        <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
        <p>
          CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
          Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
          Yello
        </p>
      </div>
      <div id='outcomes' class='grid-cols-12 col-span-12 flex flex-row gap-12 justify-start'>
        <div>
          <p class='text-4xl'>6.5m</p>
          <p>engaged customers</p>
        </div>
        <div>
          <p class='text-4xl'>+32</p>
          <p>Net promoter score</p>
        </div>
        <div>
          <p class='text-4xl'>2m</p>
          <p>visits per week</p>
        </div>
      </div>
    </div>
  </div>
  <div id='featuredSmall' class='col-span-12 md:col-span-4'>
    <a href='/design/commbankyello' class='col-span-6'
      ><Image
        transition:persist
        id='projectImage'
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        alt='image'
        width='2600'
        height='900'
        decoding='async'
        loading='lazy'
        class='rounded-3xl aspect-[1/1] md:aspect-[12/5] object-cover'
      /></a
    >
    <div id='projectContent' class='grid grid-cols-12 col-span-6 grid-rows-2 gap-12 mt-8'>
      <div id='text' class='grid-cols-12 col-span-12 flex flex-col gap-4'>
        <h3 class='text-sm'>CommBank Yello</h3>
        <h2 class='text-4xl'>Reimagine customer loyalty for Australia's largest bank</h2>
        <p>
          CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior UX
          Designer, I led the design and delivery of Yello 2.0, the next iteration of CommBank
          Yello
        </p>
      </div>
      <div id='outcomes' class='grid-cols-12 col-span-12 flex flex-row gap-12 justify-start'>
        <div>
          <p class='text-4xl'>6.5m</p>
          <p>engaged customers</p>
        </div>
        <div>
          <p class='text-4xl'>+32</p>
          <p>Net promoter score</p>
        </div>
        <div>
          <p class='text-4xl'>2m</p>
          <p>visits per week</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Four Columns -->
