---
import PostCard from '../../components/ui/cards/PostCard.jsx'
import Layout from '../../layouts/Layout.astro'
import ButtonPrimary from '../../components/ui/buttons/ButtonPrimary.astro'
import Image from 'astro/components/Image.astro'
import PageTransition from '../../components/layout/transitions/PageTransition.astro'
import Text from '../../components/ui/text/Text.astro'
import Statistic from '../../components/content/featured/Statistic.astro'
---

<Layout
  pageTitle='CommBank Yello'
  pageDescription='CommBank Yello customer engagement and loyalty program - reimagining customer loyalty for Australia largest bank.'>
  <PageTransition>
    <main class='min-h-screen'>
      <section id='commbank' class='w-full'>
        <a href='/design' class='block w-full' transition:name='commbank-image'>
          <Image
            id='projectImage'
            src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
            alt='CommBank Yello project overview'
            width='2400'
            height='900'
            decoding='async'
            loading='lazy'
            class='w-full aspect-[1/1] md:aspect-[12/5] object-cover'
            transition:name='commbank-image-content'
          />
        </a>

        <div class='container-default mt-32'>
          <div id='projectContent' class='grid-default' transition:name='commbank-content'>
            <div
              id='text'
              class='col-span-1 md:col-span-3 lg:col-span-6 flex flex-col gap-4'
              transition:name='commbank-text'>
              <Text variant='overline' transition:name='commbank-title'>CommBank Yello</Text>
              <Text variant='h1' transition:name='commbank-heading'>
                Reimagine customer loyalty for Australia's largest bank
              </Text>
              <Text variant='body' size='lg' transition:name='commbank-description'>
                CommBank Yello is CommBanks customer engagement and loyalty program. As the Senior
                UX Designer, I led the design and delivery of Yello 2.0, the next iteration of
                CommBank Yello
              </Text>
            </div>
            <div
              id='outcomes'
              class='col-span-1 md:col-span-3 lg:col-span-6 flex flex-row gap-12 justify-start lg:justify-end'
              transition:name='commbank-outcomes'>
              <Statistic value='6.5m' label='engaged customers' index={1} />
              <Statistic value='+32' label='Net promoter score' index={2} />
              <Statistic value='2m' label='visits per week' index={3} />
            </div>
          </div>
        </div>
      </section>
    </main>
  </PageTransition>
</Layout>

<style>
  /* Add smooth transitions for all elements */
  ::view-transition-old(commbank-image),
  ::view-transition-new(commbank-image) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(commbank-image-content),
  ::view-transition-new(commbank-image-content) {
    animation: none;
    mix-blend-mode: normal;
  }

  /* Add fade animation for content */
  ::view-transition-old(commbank-content),
  ::view-transition-new(commbank-content) {
    animation: fade 0.5s ease-in-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
