---
import PostCard from '../../components/content/posts/PostCard.jsx'
import Layout from '../../layouts/Layout.astro'
import ButtonPrimary from '../../components/ui/buttons/ButtonPrimary.astro'
import Image from 'astro/components/Image.astro'
import PageTransition from '../../components/layout/transitions/PageTransition.astro'
import Text from '../../components/ui/text/Text.astro'
import Statistic from '../../components/content/featured/Statistic.astro'
---

<Layout
  pageTitle='Scenic'
  pageDescription='Scenic travel platform - transforming travel planning through immersive design.'>
  <PageTransition>
    <main class='min-h-screen'>
      <section id='scenic' class='w-full'>
        <a href='/design' class='block w-full' transition:name='scenic-image'>
          <Image
            id='projectImage'
            src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
            alt='Scenic project overview'
            width='2400'
            height='900'
            decoding='async'
            loading='lazy'
            class='w-full aspect-[1/1] md:aspect-[12/5] object-cover'
            transition:name='scenic-image-content'
          />
        </a>
        <div class='container-default mt-32'>
          <div id='projectContent' class='grid-default' transition:name='scenic-content'>
            <div
              id='text'
              class='col-span-1 md:col-span-3 lg:col-span-6 flex flex-col gap-4'
              transition:name='scenic-text'>
              <Text variant='overline' transition:name='scenic-title'>Scenic</Text>
              <Text variant='h1' transition:name='scenic-heading'>
                Transforming travel planning through immersive design
              </Text>
              <Text variant='body' size='lg' transition:name='scenic-description'>
                Scenic is a modern travel planning platform that helps users discover and book
                unique experiences. As Product Designer, I created an immersive interface that
                inspires wanderlust while making travel planning effortless.
              </Text>
            </div>
            <div
              id='outcomes'
              class='col-span-1 md:col-span-3 lg:col-span-6 flex flex-row gap-12 justify-start lg:justify-end'
              transition:name='scenic-outcomes'>
              <Statistic value='750k' label='active travelers' index={1} />
              <Statistic value='+89%' label='booking rate' index={2} />
              <Statistic value='4.8' label='user rating' index={3} />
            </div>
          </div>
        </div>
      </section>
    </main>
  </PageTransition>
</Layout>

<style>
  /* Add smooth transitions for all elements */
  ::view-transition-old(scenic-image),
  ::view-transition-new(scenic-image) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(scenic-image-content),
  ::view-transition-new(scenic-image-content) {
    animation: none;
    mix-blend-mode: normal;
  }

  /* Add fade animation for content */
  ::view-transition-old(scenic-content),
  ::view-transition-new(scenic-content) {
    animation: fade 0.5s ease-in-out;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
