---
import { urlFor } from '../../../lib/sanity'
import type { SanityImage, Project } from '../../../lib/sanity'
import Text from '../../ui/text/Text.astro'

interface Props {
  project: Project
}

const { project } = Astro.props
---

<section class='flex flex-col gap-4 mt-40' aria-label='Project Hero'>
  <div class='flex flex-col gap-2'>
    <Text variant='h1'>{project.title}</Text>
    {project.subtitle && <Text variant='body'>{project.subtitle}</Text>}
  </div>
</section>
