---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
import '../../src/styles/navigation.css';
import Image from 'astro/components/Image.astro';
import Logo from '../../public/images/svg/logo.svg';
import TextLink from './Buttons/TextLink.astro';
---

<nav class='w-100 flex flex-col sm:flex-row justify-between h-16 sticky'>
	<div class='headline flex flex-col sm:flex-row gap-4'>
		<p class='font-semibold'>
			<span class='flex align-middle gap-2'
				><Image src={Logo} alt='Logo' />Dan Shires</span
			>
		</p>
		<TextLink path="''" target='' href='/'>Home</TextLink>
		<TextLink path='pictures' target='' href='/pictures'>Pitctures</TextLink>
		<TextLink path='journal' target='' href='/posts'>Journal</TextLink>
		<TextLink path='journal' target='' href='/posts'>Design thinking</TextLink>
		<!-- <TextLink path='about' target='' href='/about'>About</TextLink> -->
	</div>
</nav>
