---
---
<div
  class="prose-base prose-p:text-xl prose-gray dark:prose-invert
  prose-h1:font-normal prose-h1:text-4xl
  prose-h2:font-bold prose-h2:text-xl
  prose-h3:font-bold prose-h3:text-xl
  prose-h4:font-bold prose-h4:text-xl
  prose-h5:font-bold prose-h5:text-xl
  rose-p:text-left
  prose-a:text-blue-600 p prose-img:rounded-xl">
  <slot />
</div>
