---
import Text from '../../ui/text/Text.astro'

interface Props {
  introText: {
    first: string
    second: string
  }
}

const { introText } = Astro.props
---

<section class='flex flex-col gap-4 mt-40' aria-label='Hero Section'>
  <div class='flex flex-col gap-2'>
    <Text variant='h1'>{introText.first}</Text>
    <Text variant='body'>{introText.second}</Text>
  </div>
</section>
