---
import Text from '../text/Text.astro'
import { textLinkClass } from '../text/styles'

interface Props {
  path: string
  target: string
  href: string
}

const { href, target } = Astro.props
---

<a class={textLinkClass} href={href} target={target}>
  <Text variant='body'>
    <slot />
  </Text>
</a>
