---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

console.log('Current Path:', currentPath)

interface Props {
  path: string
  target: string
  href: string
}

const { href, path, target } = Astro.props

const styles =
  path === ''
    ? currentPath === ''
      ? 'underline text-zinc-900 dark:text-zinc-100 underline-offset-8'
      : 'no-underline text-zinc-900 dark:text-zinc-100 hover:underline underline-offset-8'
    : currentPath.startsWith(path)
      ? 'underline text-zinc-900 dark:text-zinc-100 underline-offset-8'
      : 'no-underline text-zinc-900 dark:text-zinc-100 hover:underline underline-offset-8'
---

<a class={styles} href={href} target={target}><slot /></a>
