---
import type { Post } from '../../../lib/sanity'
import PostCard from './PostCard.jsx'
import Text from '../../ui/text/Text.astro'

interface Props {
  projects: Post[]
}

const { projects } = Astro.props
const validProjects = projects.filter((p) => p && p.slug?.current)
---

<div class='related-projects'>
  <Text variant='h2' class='mb-8 text-center'>Related Posts</Text>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
    {validProjects.map((project) => <PostCard post={project} />)}
  </div>
</div>
