---
import ClientRouter from "astro/components/ClientRouter.astro"

interface Props {
	pageTitle: string;
	pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;

---
<head>
    <meta charset='UTF-8' />
    <meta name='description' content={pageDescription} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
    <script src='https://unpkg.com/scrollreveal'></script>
</head>
