---
// Client router
import '../styles/fonts.css'
import Navigation from '../components/Navigation/Navigation.astro'
import Head from './Head.astro'
import { fade } from 'astro:transitions'

interface Props {
  pageTitle: string
  pageDescription: string
  colourMode: string
}

const { pageTitle, pageDescription, colourMode } = Astro.props

const styles = `${colourMode} font-sans bg-white text-slate-950 bg-stone-50 dark:text-zinc-50 dark:bg-zinc-950 mx-4 md:mx-8 max-w-[100vw]`
---

<!doctype html>
<html lang='en' class='text-lg'>
  <Head pageDescription={pageDescription} pageTitle={pageTitle} />
  <body class={styles}>
    <Navigation />
    <slot />
  </body>
</html>
