---
// Client router
import '../styles/global.css'
import '../styles/fonts.css'
import Navigation from '../components/Navigation/Navigation.astro'
import Head from './Head.astro'
import LoadingBar from '../components/LoadingBar/LoadingBar.astro'

interface Props {
  pageTitle: string
  pageDescription: string
}

const { pageTitle, pageDescription } = Astro.props

const styles = `font-sans bg-white text-slate-950 bg-stone-50 dark:text-zinc-50 dark:bg-zinc-950 antialiased mb-20`
---

<!doctype html>
<html lang='en' class='text-base'>
  <Head pageDescription={pageDescription} pageTitle={pageTitle} />
  <body class={styles}>
    <LoadingBar />
    <Navigation transition:persist />
    <main class='container mx-auto px-4 lg:px-8'>
      <slot />
    </main>
  </body>
</html>

<script>
  // Initialize any client-side code here
  document.addEventListener('astro:page-load', () => {
    // Any additional initialization can go here
  })
</script>

<style is:global>
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none !important;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 2;
  }

  .dark::view-transition-old(root) {
    z-index: 2;
  }
  .dark::view-transition-new(root) {
    z-index: 1;
  }
</style>
