---
import Prose from '../components/Prose.astro';
import Layout from './Layout.astro';
const { frontMatter } = Astro.props;
---

<Layout pageTitle={frontMatter.title} pageDescription={frontMatter.description}>
	<Prose class=''>
		<div class='w-100 flex flex-col justify-center items-center mt-48'>
			<article class="prose-p:text-xl prose-p:leading-relaxed">
				<h1>{frontMatter.title}</h1>
				<!-- <p>{frontMatter.description}</p> -->
				<slot />
			</article>
		</div>
	</Prose>
</Layout>
